#left {
	
	float: left;
	height: 41em;
	width: 33%;
	margin-top: -10px;
	margin-left: -10px;
	background-color: #4096EE;
}
	
body {
	background-color: #33FFCC;
}
#right {
	float: right;
	height: 41em;
	width: 33%;
	margin-top: -10px;
	margin-right: -10px;
	background-color: #BDD684;
}
img {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 15%;
	width: 32%;
}