#left {
	display: inline-block;
	height: 100vh;
	width: 33.33%;
	background-color: #4096EE;
}
#center {
	display: inline-block;
	height: 100vh;
	width: 33.33%;
	background-color: #33FFCC;
}
#right {
	display: inline-block;
	height: 100vh;
	width: 33.33%;
	background-color: #66FF99;
}